extends ../_layouts/black-subtitle.jade
//- blog-grid-3columns.html

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  script(src='/ViewControllers/paid/index.js')
  style.
    .blog-image {height: 180px; position: relative;}
    #createPortfolio:hover {
      opacity: 1;
      }
    #createPortfolio {
      min-height: 100px;
      line-height: 100px;
      border: dotted;
      opacity: 0.4;
      text-align: center;
      cursor: pointer
      }
      #createPortfolio i {
        font-size: 80px;
        vertical-align: middle;
        padding: 40px 0px;
        }



mixin portfolio(portfolio)
  .col-md-4.col-sm-6.col-xs-6.blog-listing.wow.fadeInUp(data-wow-duration='300ms')
    .blog-title
      a(href='#{portfolio.url || "/"}') #{portfolio.title || 'Noname'}
    .mb-10
    .blog-details
      .blog-short-description !{portfolio.description || ''}

mixin blog(blog)
  .col-md-4.col-sm-6.col-xs-6.blog-listing.wow.fadeInUp(data-wow-duration='300ms')
    .blog-title
      a(href='#{blog.url || "/"}') #{blog.title || 'Noname'}
    .blog-image
      a(href='#{blog.url || "/"}')
        img(src='images/paid/#{blog.image || "no_image.jpg"}', alt='')
    .mb-10
    .blog-details
      .blog-short-description !{blog.description || ''}


block content
  section.wow.fadeIn
    .container
      h2 Model portfolios
      +separator()
      .row.blog-3col
        for portfolio in portfolios
          +portfolio(portfolio)
        if hasRole(user, 'admin')
          #createPortfolio.col-md-4.col-sm-6.col-xs-6.blog-listing
            i.fa.fa-plus
      h2 Feeds
      +separator()
      .row.blog-3col
        for blog in blogs
          +blog(blog)
      //- +pagination()
