div 
  table.margin-two
    tr
      td ID
      td Email
      td Roles
    tr(v-for='user in users')
      td(v-text='user.id')
      td(v-text='user.email')
      td
        select(
          multiple
          v-model='user.roles'
          data-uid='{{user.id}}'
          )
          option(
            v-for='role in roles'
            value='{{role.id}}'
            disabled='{{role.name == "user"}}'
            ) {{role.name}}
  a(v-on:click='save' href='#')
    span.btn.button-reveal.button
      i.fa.fa-save
      span Save
