extends ./_layouts/default.jade

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  script(src='/ViewControllers/auth.js')
  style.
    .cnt {background-color: #f7f7f7;}
    .main-cnt {padding-top: 50px;}
    .nav-tabs > li,
    .nav-tabs > li > a {
      font-size: 33px;
      font-weight: 100;
      border-bottom-width: 2px !important;
      padding-bottom: 0px;
      }
    .nav-tabs-light {height: 90px;}
    .providers {padding-left: 15px;}
    .providers i.first {margin-left: 0px;}


mixin providers(providers)
  .providers
    p.text-uppercase.letter-spacing-2.margin-one You can use one of the available providers
    - var f = true;
    for p in providers
      a(href='#{p.href}')
        if f
          - f = false;
          i.i-small-box.i-rounded.i-bordered.fa.first(class='#{p.icon}')
        else
          i.i-small-box.i-rounded.i-bordered.fa(class='#{p.icon}')
    .margin-four


block flashes
block content
  section.main-cnt
    .container
      .row
        +providers(providers)
      .tab-style1
        .row
          .col-md-12.col-sm-12
            ul.nav.nav-tabs.nav-tabs-light.text-left
              li
                a(href='#signup', data-toggle='tab') Sign up
              li
                a(href='#signin', data-toggle='tab') Sign in
        .tab-content
          form#signup.tab-pane.fade.in(
            role='form'
            action='/auth/register'
            method='post'
            )
            - var form = req.flash('signup')[0] || {}
            .row
              .col-md-6.col-sm-10
                if req.flash('register').length
                  +flashes()
                p.text-uppercase.letter-spacing-2.margin-two introduce yourself
                .row
                  .col-md-6
                    input.fn-name(
                      type='text'
                      placeholder='Name'
                      name='name'
                      value=form.name
                      required
                      )
                  .col-md-6
                    input.fn-surname(
                      type='text'
                      placeholder='Surname'
                      name='surname'
                      value=form.surname
                      required
                      )
                p.text-uppercase.letter-spacing-2.margin-two for recovery and subscriptions
                input.fn-email(
                  type='text'
                  placeholder='Email'
                  name='email'
                  value=form.email
                  required=''
                  )
                p.text-uppercase.letter-spacing-2.margin-two Password
                .row
                  .col-md-6
                    input.fn-pass1(
                      type='password'
                      placeholder='Password'
                      name='password'
                      value=form.password
                      required
                      )
                  .col-md-6
                    input.fn-pass2(
                      type='password'
                      placeholder='Repeat password'
                      name='repeat_password'
                      value=form.repeat_password
                      required
                      )
                    input.hidden.fn-submit(
                      type='submit'
                      )
                .mt-10
                +smallSeparator()
                a(href='#')#signupBtn
                  +revealButton('fa-envelope', 'Sign up')
          form#signin.tab-pane.fade.in(
            role='form'
            action='/auth/login'
            method='post'
            )
            - var form = req.flash('signin')[0] || {}
            .row
              .col-md-6.col-sm-10
                if req.flash('login').length
                  +flashes()
                input(
                  type='text'
                  placeholder='Email'
                  required=''
                  name='identifier'
                  value=form.identifier
                  )
                input(
                  type='password'
                  placeholder='Password'
                  required=''
                  name='password'
                  value=form.pass
                  )
                input.hidden.fn-submit(
                  type='submit'
                  )
                +smallSeparator()
                a(href='#')#signinBtn
                  +revealButton('fa-sign-in', 'Sign in')
