//- blog-grid-3columns.html
extends ../../_layouts/black-subtitle.jade
include ../_stuff

block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')
  style.
    .blog-title > a {font-size: 40px; line-height: 40px;}
    .percent {line-height: 1; font-size: 33px; margin-left: 15px;}
    .percent:after { content: '';}



block append title
  +headerButtons()


mixin post(post)
  .col-md-4.col-sm-6.col-xs-6.blog-listing.wow.fadeInUp(data-wow-duration='300ms')
    .blog-title
      a(href=base+'/get/#{post.id}') #{post.title || 'Noname'}
        if (post.result)
          if post.result >= 0
            span.percent.green (+#{post.result}%)
          else
            span.percent.red (#{post.result}%)
      +titleButtons(post)
    .mb-10
    .blog-details
      .blog-short-description !{post.text || ''}


block content
  section.wow.fadeIn
    .container
      .row.blog-3col
        for post in posts
          +post(post)
      //- +pagination()
