//- blog-grid-3columns.html
extends ../../_layouts/black-title.jade
include ../_stuff


block append head
  +globalVar('parts', portfolio.assets)
  //- +globalVar('roles', roles)
  script(src="/bower_components/Chart.js/Chart.js")
  script(src='/ViewControllers/paid/allocation.js')
  style.
    #parts {width: 400px !important; height: 400px !important;}
    .tab-style1 {padding-top: 30px;}
    .progress-name {margin: 5px 0 0px;}



block append title
  +headerButtons_single(portfolio)


mixin progressBarItem(item)
  .progress-bar-sub
    .progress-name
      strong #{item.name}
      |  #{item.value}%
    .progress
      .progress-bar(role='progressbar', aria-valuenow='#{item.value}', aria-valuemin='0', aria-valuemax='100', style='width: #{item.value}%;')



block content
  .container
    .row
      .tab-style1
        .row
          .col-md-12.col-sm-12
            ul.nav.nav-tabs.nav-tabs-light.text-left
              li.active
                a(href='#tab_sec1', data-toggle='tab') Table
              li#chartTab
                a(href='#tab_sec2', data-toggle='tab') Chart
              li
                a(href='#more', data-toggle='tab') Last posts
        .tab-content
          #tab_sec1.tab-pane.fade.in.active
            .progress-bar-main
              each part in portfolio.assets
                +progressBarItem(part)
          #tab_sec2.tab-pane.fade.in
            canvas#parts
          #more.tab-pane.fade.in
            p //TODO: last blog posts (/paid/f/portfolio?tag=portfolio.name)
            a(href='/paid/f/portfolios?tags[]=#{portfolio.name}')
              +revealButton('fa-history', 'portfolio feed')
