//- blog-grid-3columns.html
extends ../../_layouts/black-title.jade
include ../_stuff


block append head
  +globalVar('parts', portfolio.assets)
  //- +globalVar('roles', roles)
  script(src='/ViewControllers/portfolio/single.js')
  style.
    #parts {width: 400px !important; height: 400px !important;}
    .tab-style1 {padding-top: 30px;}
    .progress-name {margin: 5px 0 0px;}



block append title
  +headerButtons_single(portfolio)


mixin progressBarItem(item, total)
  .progress-bar-sub
    .progress-name
      strong #{(100 * item.v / total).toFixed(2)}%
      |  - #{item.k}
    .progress
      .progress-bar(
        role='progressbar'
        aria-valuenow='#{item.v / total}'
        aria-valuemin='0'
        aria-valuemax='#{total}'
        style='width: #{100 * item.v / total}%;'
        )


mixin assetsGroup(ag)
  - var total = _.reduce(ag.tickers, function(sum, t) {return parseInt(sum || 0) + parseInt(t.v || 0);});
  .asset-group.margin-seven
    h4.row.uppercase #{ag.name}
    .progress-bar-main
      each t in ag.tickers
        +progressBarItem(t, total)



block content
  .container
    .row
      .col-md-4
        .progress-bar-main
          each ag in portfolio.assets
            +assetsGroup(ag)
      .col-md-8
        #pieChart.margin-five

    .row.margin-four
      a(href='/paid/f/portfolios?tags=#{portfolio.name}')
        +revealButton('fa-arrow-right', 'Portfolio feed')
