include ../_client/els.jade

//- ligtGray = '#f7f7f7';



mixin json(data)
  p #{JSON.stringify(data, null, 4)}

//- вставка данных в тело страницы в виде скрипта,
//- args == ["name", {data}]
mixin globalVar(name, data)
  if (typeof name !== 'undefined')
    - var jsonString = JSON.stringify(data);
    - if (!jsonString) console.warn('inlineData is undef: ', name);
    script.
      var store;
      if (window.globalVars) {
        store = window.globalVars;
      }
      else {
        store = {};  
      }
      store['#{name}'] = !{jsonString ? jsonString.replace(/<\//g, "<\\/") : 'undefined'};
      window.globalVars = store;

//- file:///D:/work/rumex/H-Code/www.themezaa.com/html/h-code/alert-massage.html
mixin error(data)
  .alert.alert-danger(role='alert')
    strong Oh snap!
    |  !{data}

//- file:///D:/work/rumex/H-Code/www.themezaa.com/html/h-code/alert-massage.html
mixin info(data)
  .alert.alert-success(role='alert')
    strong Alert!
    |  !{data}

mixin separator()
  .wide-separator-line.bg-mid-gray.no-margin-lr.margin-one

mixin smallSeparator()
  .separator-line.bg-black.no-margin-lr.margin-one

mixin revealButton(icon, text)
  span.btn.button-reveal.button
    i.fa(class=icon)
    span #{text}
