include ../_client/els.jade

mixin json(data)
  p #{JSON.stringify(data, null, 4)}

//- вставка данных в тело страницы в виде скрипта,
//- args == ["name", {data}]
mixin globalVar(name, data)
  if (typeof name !== 'undefined')
    - var jsonString = JSON.stringify(data);
    - if (!jsonString) console.warn('inlineData is undef: ', name);
    script.
      var store;
      if (window.globalVars) {
        store = window.globalVars;
      }
      else {
        store = {};  
      }
      store['#{name}'] = !{jsonString ? jsonString.replace(/<\//g, "<\\/") : 'undefined'};
      window.globalVars = store;

mixin error(data)
  .g-alert.type_error.with_close.ib.error
    .g-alert-body #{data}

mixin info(data)
  .g-alert.type_success.with_close.ib
    .g-alert-body #{__('Data_updated')}

//- TODO: deprecated
mixin separator()
  div.separator
