mixin pagination(page, last)
  if (page && last)
    .row
      .col-md-12.col-sm-12.col-xs-12.wow.fadeInUp.animated
        .pagination
          if page !== 1
            a(href='?page=1')
              i.fa.fa-angle-double-left
          else
            a(href='#')
              i.fa.fa-angle-double-left
          if page > 1
            a(href='?page=#{page - 1}') #{page - 1}
          a(href='?page=#{page}').active #{page}
          if page !== last
            a(href='?page=#{page + 1}') #{page + 1}
            span
              a(href='?page=#{last}')
                i.fa.fa-angle-double-right
          else
            a(href='#')
              i.fa.fa-angle-double-right
  else
    - console.warn('pagination mixin not working!')