//- кнопки для заголовка страницы
mixin headerButtons_list()
  if hasRole(user, 'admin')
    a#addPost(href='/create?types=#{types}')
      +iconButton('fa-plus')

mixin headerButtons_single(post)
  if hasRole(user, 'admin')
    a#editPost(href='/edit?id=#{post.id}')
      +iconButton('fa-pencil')

mixin headerButtons_editor(post)
  if hasRole(user, 'admin')
    a#deletePost(href='#')
      +iconButton('fa-close')


//- кнопки для заголовка поста
mixin titleButtons(post)
  if hasRole(user, 'admin')
    a.fn.fn-edit(href='/edit?id=#{post.id}')
      +iconButton('fa-pencil')
  if hasRole(user, 'admin')
    a.fn(href='/create?parent=#{post.id}&types=#{types}')
      +iconButton('fa-chain')




mixin author(post)
  if post
    - var author = post.author
    if author
      .avtar.text-left
        a(href='/profile/get/#{author.id}')
          img(src='/images/avtar15.jpg', alt='')
      .blog-date-right.no-padding-bottom #{moment(post.createdAt).format('DD MMMM YYYY')}
      .blog-date-right
        | Posted by 
        a(href='/profile/get/#{author.id}') #{author.name} #{author.surname}
      .separator-line.bg-black.no-margin-lr.no-margin.xs-margin-bottom-ten

mixin tags(tags)
  if tags && tags.length
    - var first = true;
    each tag in tags
      if !first
        | , 
      a(href=base+'?tags[]=#{tag.name}') #{tag.name}
      - first = false;

mixin post(post)
  if post
    .row
      .blog-listing.blog-listing-classic.blog-listing-full.wow.fadeIn
        .col-md-2.col-sm-2.col-xs-5.clearfix.text-center.xs-padding-right
          +author(post)
        .col-md-10.col-sm-10.col-xs-12.xs-padding-left
          .blog-details
            .blog-title
              a(href=base+'/get/#{post.id}') #{post.title}
              +titleButtons(post)
            .blog-date.no-padding-top
              +tags(post.tags)
            //- div
              a.blog-like(href='#')
                i.fa.fa-heart-o
                | Likes
              a.blog-share(href='#')
                i.fa.fa-share-alt
                | Share
              a.comment(href='#')
                i.fa.fa-comment-o
                | 3 comment(s)
            .separator-line.bg-black.no-margin-lr.margin-four
            div.mystyle-contents
              | !{post.text}
            a(href=base+'/get/#{post.id}')
              +revealButton('fa-arrow-right', 'More')
