extends ../_layouts/white-subtitle
include ../_mixins/pagination


block append head
  //- +globalVar('users', users)
  //- +globalVar('roles', roles)
  //- script(src='/ViewControllers/index.js')

  style.
    .mystyle-contents {margin-bottom: 30px;}
    .blog-listing-full .blog-title a {
      margin-bottom: 20px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;
      }
    .blog-listing-full .blog-title a.fn-edit {
      margin-top: 1px;
      }
    .blog-listing-full .blog-date {margin: 20px 0 20px;}


block append title
  if hasRole(user, 'admin')
    a#addPost(href='/create')
      +iconButton('fa-plus')



mixin author(post)
  if post
    - var author = post.author
    if author
      .avtar.text-left
        a(href='/profile/get/#{author.id}')
          img(src='/images/avtar15.jpg', alt='')
      .blog-date-right.no-padding-bottom #{moment(post.createdAt).format('DD MMMM YYYY')}
      .blog-date-right
        | Posted by 
        a(href='profile/get/#{author.id}') #{author.name} #{author.surname}
      .separator-line.bg-black.no-margin-lr.no-margin.xs-margin-bottom-ten

mixin tags(tags)
  if tags && tags.length
    - var first = true;
    each tag in tags
      if !first
        | , 
      a(href='blog?tags[]=#{tag.name}') #{tag.name}
      - first = false;

mixin post(post)
  if post
    .row
      .blog-listing.blog-listing-classic.blog-listing-full.wow.fadeIn
        .col-md-2.col-sm-2.col-xs-5.clearfix.text-center.xs-padding-right
          +author(post)
        .col-md-10.col-sm-10.col-xs-12.xs-padding-left
          .blog-details
            .blog-title
              a(href='/blog/get/#{post.id}') #{post.title}
              if hasRole(user, 'admin')
                a.fn-edit(href='/edit?id=#{post.id}')
                  +iconButton('fa-pencil')
            .blog-date.no-padding-top
              +tags(post.tags)
            //- div
              a.blog-like(href='#')
                i.fa.fa-heart-o
                | Likes
              a.blog-share(href='#')
                i.fa.fa-share-alt
                | Share
              a.comment(href='#')
                i.fa.fa-comment-o
                | 3 comment(s)
            .separator-line.bg-black.no-margin-lr.margin-four
            div.mystyle-contents
              | !{post.text}
            a(href='/blog/get/#{post.id}')
              +revealButton('fa-arrow-right', 'More')


block content
  section.wow
    .container
      if posts && posts.length
        for post in posts
          +post(post)
      else
        .row
          .blog-title here is no posts yet...
      +pagination(pagination.current, pagination.total)
