mixin button(text)
  a.cp.btn-small-black-border-light.btn.btn-very-small.button.xs-no-margin !{text}

mixin roundIcon(name)
  span.fa-stack.fa-lg.roundIcon
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-stack-1x.fa-inverse(class=name)

mixin select(opts, selected, multiple)
  - opts = opts || [];
  - selected = selected || [];
  select(
    multiple=multiple
    )
    each opt in opts
      option(
        value=opt.id
        selected=selected.indexOf(opt.id)
        ) #{opt.name}

mixin textInput(title)
  - title = title || '';
  .input-item
    input(type='text', placeholder=title)

    
mixin iconButton(icon)
  .btn.button.social-icon.vi-iconButton
    i.fa(class='#{icon}')

      
mixin separator()
  .wide-separator-line.bg-mid-gray.no-margin-lr.margin-one

mixin smallSeparator()
  .separator-line.bg-black.no-margin-lr.margin-one

mixin revealButton(icon, text)
  span.btn.button-reveal.button
    i.fa(class=icon)
    span #{text}